@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-text: #16171b;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-text: #596280;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
p, span, a, input, label, b, div, select, textarea, h2, h3, h4, h6, button{
    font-family: "Roboto", sans-serif;
}

.screen-layer {
    @apply mx-auto w-full max-w-screen-xl;
}

.home-container {
    @apply pt-[80px] lg:pt-[120px];

    .searching {
        .content {
            @apply flex flex-col justify-center items-center text-center pt-[32px] lg:pt-0 lg:px-0;
        }
    }

    .categories {
        .content {
            @apply flex gap-[16px] flex-wrap justify-center items-center w-full xl:w-[850px] m-auto pt-[32px];

            .item {
                @apply p-[10px] w-full sm:w-[290px] h-[80px] rounded-[8px] border border-slate-200 relative overflow-hidden;

                &:hover {
                    @apply border-blue-500;
                }

                span {
                    @apply text-[14px] font-[600];
                }

                .image {
                    box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
                    height: 76px;
                    max-width: 76px;
                    transform: rotate(18deg);
                    border-radius: 2px;
                    position: absolute;
                    top: 30px;
                    right: 16px;
                }
            }
        }

        .see-more {
            @apply flex justify-center items-center mt-[32px];

            a {
                @apply font-[600] text-[14px] lg:text-[16px];

                &:hover {
                    @apply text-slate-500;
                }
            }
        }
    }

    .start-to-search {
        @apply bg-[#fbf9f8] flex justify-center items-center flex-col text-center py-[32px] h-[300px] mt-[60px];

        .content {
            @apply flex justify-center items-center flex-col px-[16px] lg:px-0;

            h2 {
                @apply font-[700] text-[1.5rem] lg:text-[2rem] mb-[8px] text-center;
            }

            p {
                @apply font-[500] text-[14px] lg:text-[16px];
            }
        }
    }
}

.result-page {
    @apply pt-[120px] min-h-screen pb-[32px] relative;

    .search-container{
        @apply w-[40%] m-auto mb-[32px];
    }

    .result-word {
        @apply pb-[24px] px-[20px] 2xl:px-0;

        p {
            @apply text-[#596280] font-[500] text-[1.125rem];
        }
    }
}
.content-empty {
    @apply flex flex-col items-center px-[20px] 2xl:px-0;
    .lottie-container {
        @apply w-full h-full md:w-[400px] md:h-[400px];
    }
    h3 {
        @apply font-roboto font-[700] text-[1.1rem] text-center 2xl:text-[1.85rem] text-primarytext mb-[24px] 2xl:mb-[32px];
    }
    img {
        @apply w-full 2xl:w-[500px] object-cover; 
    }
}

.result-show {
    @apply flex items-center gap-[16px] flex-wrap w-full m-auto justify-start px-[16px] lg:px-0;
}

.result-show-item {
    @apply border-[#e3e6ef] border rounded-[10px] relative w-[47%] md:w-[200px] flex flex-col;
    &:hover {
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
    }

    .image-cover {
        @apply relative flex justify-center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        img {
            @apply w-[132px] h-[174px] mt-[24px];
            box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
            clip-path: polygon(37% -2%, 0 -8%, 115% 0, 108% 110%, 115% 175%, 0 126%, -26% 37%);
        }
    }

    .description {
        @apply h-[115px] p-[16px];

        h6 {
            @apply font-roboto font-[700] text-[1rem] 2xl:text-[1.25rem] text-primarytext;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-style: normal;
            line-height: 20px;
        }

        div {
            @apply font-roboto font-[500] text-[0.8rem] 2xl:text-[1rem] text-[#596280];
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-style: normal;
            line-height: 20px;
        }

        p {
            @apply font-roboto font-[500] text-[0.8rem] 2xl:text-[1rem] text-[#596280];
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            font-style: normal;
            line-height: 20px;
        }
    }
}

.container {
    max-width: 1248px;
    @apply px-[16px];
}

.pdf-init {
    @apply h-[850px];
}
.ant-image-img {
    @apply rounded-[10px] h-full #{!important};
}
.ant-layout-sider-collapsed{
    .logo {
        @apply hidden;
    }
}
.ant-layout-header {
    @apply flex justify-between items-center pr-[16px] bg-white #{!important};
}
.ant-image {
    height: 100% !important;
}


.menu-sticky {
    @apply fixed bg-[#F4F8FE] translate-y-0 transition ease-in-out duration-300;
}
.menu-unsticky {
    @apply fixed bg-[#F4F8FE] duration-300 transition ease-in-out -translate-y-[100%];
}
.menu-inisticky {
    @apply fixed translate-y-0 bg-[#F4F8FE];
}
.share-link {
    @apply flex flex-row gap-[16px] items-center mb-[16px];
    .bookmark-container {
        button {
            @apply mt-[5px];
        }
    }
    .sosmed {
        @apply flex gap-[16px];
    }
}

.eye-password {
    svg {
        @apply absolute z-[99] right-5 top-[15px] text-[#868686];
    }
}

.ant-table-content {
    overflow-x: scroll;
}

.ant-steps {
    @apply gap-[18px] md:gap-0;
    .ant-steps-item  {
        .ant-steps-item-content {
            @apply min-h-full md:min-h-[48px] #{!important};
        }
    }
}

.ant-modal-root  {
    .ant-modal-close {
        @apply hidden;
    }
    .ant-modal-header {
        @apply hidden;
    }
    .ant-modal-footer {
        @apply hidden;
    }
}

@import './component/header.scss';
@import './component/button.scss';
@import './component/search.scss';
@import './component/filter.scss';
@import './component/pagination.scss';
@import './component/document-desc.scss';
@import './component/slide.scss';
@import './component/sidebar.scss';
@import './component/sideMenu.scss';

@import './pages/document.scss';
@import './pages/exproler.scss';
@import './pages/categories-pages.scss';
@import './pages/static.scss';
@import './pages/admin.scss';
@import './pages/user.scss';
