.carousel-slide-sub-category {
    @apply mt-[24px];
    .card-content {
        .title {
            display: block;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: .75rem;
            line-height: 1.5;
            max-width: 130px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        img {
            box-shadow: 0 6px 15px rgba(0,0,0,.15);
            height: 76px;
            max-width: 76px;
            transform: rotate(18deg);
            border-radius: 2px;
            position: absolute;
            top: 20px;
            right: 23px;
        }
    }

}